# Build directory
build/
cmake-build-*/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Compiled
*.o
*.obj
*.exe
*.out
*.a
*.lib
*.dll
*.so
*.dylib

# CMake generated
CMakeCache.txt
CMakeFiles/
compile_commands.json
